.header-content{
    min-height: 75vh;
    border:none;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    background: linear-gradient(rgba(67,105,99,0.9),rgba(67,105,99,0.2)), url("../../images/library-img.jpg") center/cover no-repeat;
    flex-direction: column;

}

.header-title{font-size: 4.2rem;}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}